<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>
          Japan-based software engineer with a background in operations and business development.
          Studied computer science in Griffith College Dublin, and
          was awarded a scholarship from Apple to develop iOS and macOS apps at the Apple Developer
          Academy in Napoli. Most recently, I completed the full-stack web development and AI bootcamp at Le Wagon Tokyo.
          </p>
      </div>
    </div>
  </div>
</div>
